.home-section {
  display: flex;
  gap: 30px;
  height: 100svh;
}

.sidebar-section {
  height: 100%;
}

.main-content {
  width: calc(100svw - 250px);
  height: 100svh;
  padding: 20px;
}

.search-section {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  gap: 20px;
}

.search-field {
  width: 200px;
  transition: all 0.4s ease-in-out;
}

.search-field:focus-within {
  width: 300px;
}

.search-field div {
  border-radius: 20px !important;
  background-color: white;
}

.search-field input {
  font-weight: 500;
  font-size: 17px;
  color: black;
}

.pagination-section {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}

.create-btn {
  background-color: #496ace !important;
  display: flex;
  gap: 5px;
  padding: 10px !important;
  height: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.menu-icon-container {
  display: none;
}

.mobile-sidebar {
  position: absolute;
  top: 0;
  left: -250px;
  height: 100svh;
  transition: all 300ms linear;
  /* display: none; */
  opacity: 0;
}

.active {
  /* display: block; */
  width: 250px;
  left: 0;
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .sidebar-section {
    display: none;
  }
  .main-content {
    width: 100%;
    padding: 10px 5px;
  }
  .search-section {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }
  .pagination-section {
    justify-content: center;
  }
  .menu-icon-container {
    display: inline-block;
  }

  .search-field {
    width: 200px;
  }
  .search-field:focus-within {
    width: 250px;
  }
}

@media screen and (max-width: 400px) {
  .search-field {
    width: 150px;
  }
  .search-field:focus-within {
    width: 200px;
  }
}
