.table-heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.arrow-icon {
  color: gray;
  font-size: 17px;
  margin-left: 5px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.5s linear !important;
}

.active {
  color: #321b66;
  font-weight: 800 !important;
}

.rotate-icon {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.arrow-icon:hover {
  color: black;
}

.table-paper {
  height: 70%;
}

.label {
  font-size: 18px;
  letter-spacing: 0.2px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 65%;
}

.no-data-found-text {
  color: gray;
  text-align: center;
}

.table-section {
  overflow-x: hidden !important;
}

.table-section::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.table-section::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.table-section::-webkit-scrollbar-thumb {
  background: #512da8;
  border-radius: 10px;
}

/* Handle on hover */
.table-section::-webkit-scrollbar-thumb:hover {
  background: #260e5f;
}

@media screen and (max-width: 600px) {
}
